<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>

    <meta name="theme-color" content="#4285f4">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" href="89172_music_512x512.png" >
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
    
   <!-- Favicons
    ================================================== -->
<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<link href="img/apple-touch-icon.png" rel="apple-touch-icon"/>
<link href="img/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
<link href="img/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
<!-- Bootstrap -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css"/>
<!-- Stylesheet
    ================================================== -->
<link href="css/style.css" rel="stylesheet" type="text/css"/>
<link href="css/nivo-lightbox/nivo-lightbox.css" rel="stylesheet" type="text/css"/>
<link href="css/nivo-lightbox/default.css" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet"/>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".navbar-fixed-top" id="page-top">

    
    <div class="header">
 
    <div class="header-right">
      <a class="active" href="#About">About</a>
      <a href="#Basic">Basic Stats</a>
      <a href="#Network">Network</a>
      <a href="#Sentiment">Sentiment</a>
      <a href="#TopicModelling">Topic Modelling</a>
    </div>
    </div>

    <header class="page-header" role="banner">
      <h1 class="project-name">The Language of Music</h1>
      {% if site.show_downloads %}
        <a href="https://nbviewer.org/github/TheLanguageOfMusic/SocialGraphs/blob/main/code/project_julius.ipynb" class="btn">Explainer Notebook</a>
        <a href="https://drive.google.com/drive/folders/121j5cVK8jS9F-RIRD84YaGZYDMvBw0IM?usp=sharing" class="btn">Get Data</a>
      {% endif %}
    </header>

     
    <main id="About">
      {{ content }}

      
    <main id="Network">
    <img class="logo" src="img3.png" alt=""/>
     <!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 3</div>
    <img class="logo" src="img1.png" alt=""/>
    <div class="text">Caption Text</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 3</div>
    <img class="logo" src="img2.png" alt=""/>
    <div class="text">Caption Two</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 3</div>
    <img class="logo" src="img3.png" alt=""/>
    <div class="text">Caption Three</div>
  </div>

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

      <footer class="site-footer">
        <span class="site-footer-credits"> The language of Music by Cecilie Kosack, Julius Rasmussen and Amanda Sommer </a>.</span>
      </footer>
    </main>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div id="footer">
<div class="container text-center">
<div class="social">
</div>
<div>
<div>
<center>
<p>© 2021 Sociale grafer. No rights reserved.</p>
</center>
</div>
</div>
</div>
<script src="js/jquery.1.11.1.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/SmoothScroll.js" type="text/javascript"></script>
<script src="js/nivo-lightbox.js" type="text/javascript"></script>
<script src="js/jquery.isotope.js" type="text/javascript"></script>
<script src="js/jqBootstrapValidation.js" type="text/javascript"></script>
<script src="js/contact_me.js" type="text/javascript"></script>
<script src="js/main.js" type="text/javascript"></script>
  </body>
</html>
