<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <!-- Bootstrap -->\r\n<link rel="stylesheet" type="text/css"  href="css/bootstrap.css">\r\n
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">\r\n\r\n

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    {% include head-custom.html %}
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">\r\n
 <!-- Navigation\r\n    ==========================================-->\r\n
 <nav id="menu" class="navbar navbar-default navbar-fixed-top">\r\n  
 <div class="container"> \r\n    <!-- Brand and toggle get grouped for better mobile display -->\r\n    
 <div class="navbar-header">\r\n      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> 
   <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>\r\n      
   <a class="navbar-brand page-scroll" href="#page-top">Hip Hop</a> </div>\r\n    \r\n    
   <!-- Collect the nav links, forms, and other content for toggling -->\r\n    
   <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">\r\n      
     <ul class="nav navbar-nav navbar-right">\r\n        
       <li><a href="#about" class="page-scroll">About</a></li>\r\n        
       <li><a href="#network" class="page-scroll">Network</a></li>\r\n        
       <li><a href="#portfolio" class="page-scroll">Basic Stats</a></li>\r\n        
       <li><a href="#teamnot" class="page-scroll">Frequent terms</a></li>\r\n        
       <li><a href="#contact" class="page-scroll">Sentiment</a></li>\r\n      </ul>\r\n    </div>\r\n    
   <!-- /.navbar-collapse --> \r\n  </div>\r\n</nav>\r\n
       
      
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>

      {% if site.show_downloads %}
        <a href="https://nbviewer.org/github/TheLanguageOfMusic/SocialGraphs/blob/main/code/project_julius.ipynb" class="btn">Explainer Notebook</a>
        <a href="https://drive.google.com/drive/folders/121j5cVK8jS9F-RIRD84YaGZYDMvBw0IM?usp=sharing" class="btn">Get Data</a>
      {% endif %}
    </header>

<!-- About Section -->\r\n
       <div id="about">\r\n  
         <h3>Motivation and goal</h3>\r\n          
       <p>Music is an important part of the everyday life for most people. Whether it be music for a party, for the bus or the inescapable noice you hear 
         in a telephone queue, it affects us in some way or another. But which words are we actually hearing when we put on our headphones? Are we exposing 
         ourselves to positive or negative messages? Are we subconsciously choosing to listen to negative songs or postitive? And lastly how does the artists 
         connect to one another, and what information can we derive from the different groupings? <br><br>\r\n\r\nThese are the questions we seek to answer in 
         this study and to do just that we need some data. But to get these data, we first need to limit our search. There are quite frankly too many artists 
         across the world for us to take them all into account with the limited computer power that we possess, so in order to make it manageble we chose to 
         focus on only one particular genre of music. \r\n            </p>\r\n        


      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
      </footer>
    </main>
  </body>
</html>
